<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>（VUE框架的实质）步骤5</title>
</head>

<body>
<!-- 5.进行到下一步骤，把3和4两种情况集合,相当于创建了工具类 -->
    
    <input type="text" v-model="msg">
    <input type="text" v-model="name">

    <p v-text="msg"></p>
</body>

</html>


<script>

</script>
<script src="./06buzhou.js"></script>

<script>

    var obj = {
        msg: '我是VUE',
        name: 'name'
    }

    new DataBind({
        data: function () {
            return obj;
        }
    });

</script>
<!-- 若这个js文件就是vue框架文件引入，得到里面的对象实例化 -->
<!-- 给标签遵照原则的属性即可使用 -->
