<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>具有双向绑定</title>
</head>

<body>

    <div id="app">
        <h1>v-model</h1>

        <h1>基础用法</h1>
        <input type="text" v-model="msg">
        <textarea v-model="msg" rows="10" cols="30"></textarea>

        <h1>单选</h1>
        <input type="radio" v-model="sex" value="1"> 男
        <input type="radio" v-model="sex" value="2"> 女


        <h1>多选 一个</h1>
        <input type="checkbox" v-model="isTrue"> 你是谁？
       

        <h1>多选 多个</h1>
        <input type="checkbox" value="01" v-model="hobby"> 吃饭
        <input type="checkbox" value="02" v-model="hobby"> 睡觉
        <input type="checkbox" value="03" v-model="hobby"> 打豆豆
        <input type="checkbox" value="04" v-model="hobby"> 老人
        <input type="checkbox" value="05" v-model="hobby"> 男人
        <input type="checkbox" value="06" v-model="hobby"> 女人
        
    </div>


    <!-- 1.引包 -->
    <script src="./node_modules/vue/dist/vue.js"></script>

    <script>
        // 2.实例化对象
        var vm = new Vue({
            el: '#app',
            data: function () {
                return {
                    msg: '学习VUE',
                    sex: 2,
                    isTrue: true,
                    hobby: [
                        '03','04'
                    ]
                }
            }
        })


    </script>
</body>

</html>